<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:100' rel='stylesheet' type='text/css'>
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <link href='/highlight.css' rel='stylesheet' type='text/css'>

    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} - Atom" href="/blog/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name}} - RSS" href="/blog/rss.xml" />
</head>

<body>
    <div class="header">
        <img class="title-img" src="/images/woohoo.png"/>
        <div class="title">
            <span>Abandoned Wig</span>
            <div class="blurb">
                Hi, I'm Martin.<br/>I work on the Web Platform at <a href="http://igalia.com">Igalia</a>.
            </div>
            <div class="nav">
                {% if page.url != '/index.html' %}
                <a href="/index.html">&#8604; back to the index</a> /
                {% endif %}
                <a href="http://twitter.com/__mrobinson__">twitter</a> /
                <a href="https://github.com/mrobinson?tab=repositories">github</a>
            </div>
        </div>
        <hr style="clear:both;"/>
    </div>


    <div class="content">
        {{ content }}
    </div>
</body>

